{% extends 'core/base.html' %}

{% block content %}
<div class="main">
<div class="container mt-5">

<h2>بازیابی پسورد</h2>
<p>لطفا ایمیل خود را وارد کنید.</p>
<form method="post">
    {% csrf_token %}
    
    <div class="form">
    {{ form.as_p }}
</div>
<div class="">
    <button class="btn-primary" type="submit">ارسال ایمیل</button>
</div>
</form>


</div>
</div>
<style>


.main{
display: grid;
grid-template-rows: 1fr;
height: 30%;
}

.container{
border: 1px solid  rgb(190, 83, 225) ;
background: #000000b2;
border-radius: 8px;
padding: 20px;

}

h2{
    padding-bottom: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    
    color: rgb(190, 83, 225);
}

label{
    margin-bottom: 20px;
    
    color: rgb(190, 83, 225);
}
form{
    display: flex;
    gap: 10px;
    align-items:center;
    
}

 input, textarea{
  margin: 20px 10px;
    border:1px solid rgba(177, 31, 177, 0.755);
    border-radius: 8px;
    padding: 5px 10px;
    background: #33073c2d;
    color: rgb(190, 83, 225);

}
.btn-primary {
    background: #329115bf;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background: #40f608a8;
}


</style>

{% endblock %}